<div class="inner">
    <header class="major">
        <h2>Sobre</h2>
        <p>
            Hello World!
        </p>
        <p>
            Meu nome é Vinícus, e trabalho na área de Tecnologia de informação(TI) desde 2008 atuando com análise,
            desenvolvimento, arquitetura de software e entusiasta da cultura DevOps fazendo uma ponte entre
            automatização e entregas contínuas com times de infraestrutura em parceiria com times de desenvolvimento.
        </p>
        <div class="">
                <a href="/sobre" class="button fit">Veja mais</a>
        </div>
    </header>
</div>